<body id="home-page">

<!-- start header -->
<header>
    <div class="container">
    <!-- start navigation -->
    <nav>
        <ul>
        <li><a href="/login" class="profile-button"><img alt="profile" src="/images/icons/profile.svg"></a></li>
        <li><a href="/" class="logo"><img alt="logo" src="/images/icons/logo.svg"></a></li>
        <li><a href="/overview" class="matches-button"><img alt="overview" src="/images/icons/heartbeat.svg"></a></li>
        </ul>
    </nav>
    <!-- end navigation -->
    </div>
</header>
<!-- end header -->