<body id="filters">

    
        <main>
        
        <form id="regform" action="/" method="POST" >
           <legend>Login</legend>
           <input type="email" name="email" placeholder="email">
           <input type="password" name="password" placeholder="password">
           <input id="loginButton" type="submit" name="submit">
           <a href="registration">Of registreer je hier</a>
        </form>
        
        </main>
        <!--{{users}}-->
        </body>