<body id="filters">

        <header>
            <div class="container">
            <nav>
                <ul>
                <li><a href="/" class="profile-button"><img src="/images/icons/left-arrow.svg" alt="back"></a></li>
                <li><a href="/" class="logo"><img src="/images/icons/logo.svg" alt="logo"></a></li>
                <!--<li><button  class="filter-button"></button></li>-->
        
                <li>
                    <a href="#filters"  class="filter-button show-filter"></a>
                    <button type="submit" form="filter"  class="filter-button-close hide-filter">Done</button>
                </li>
                </ul>
            </nav>
            </div>
        </header>
    
        <main>
        
        <form id="regform" action="/" method="POST" >
           <legend>Login</legend>
           <input type="email" name="email" placeholder="email">
           <input type="password" name="password" placeholder="password">
           <input id="loginButton" type="submit" name="submit">
           <a href="registration">Of registreer je hier</a>
        </form>
        
        </main>
        <!--{{users}}-->
        </body>